{{% extends "base.html" %}
{% load static %}
{% block content %}




<main class=" pt-4">


        <table class="position">
            <h3 class="blue-text position"><strong>Panier</strong> ( {{cart.get_total_quantity}} articles)</h3>

            <thead class='t-head'>


            <tr>
                <th>Image</th>
                <th>Article</th>
                <th>Quantité</th>
                <th>Retirer</th>
                <th>Prix unitaire</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% if cart %}
            {% for item in cart %}
            {% with produit=item.produit %}
            <tr>
                <td>
                    <a href="{{produit.get_absolute_url}}">
                        <img src="
					    				{% if produit.image %}
					    					{{produit.image.url}}

					    				{% endif %}"
                             width="100px">
                    </a>
                </td>
                <td>
                    {{produit.nom}}
                </td>
                <td>
                    <form method="post" action="{% url 'cart:cart_add' produit.id %}">
                        {% csrf_token %}
                        {{item.update_quantity_form.quantity}}

                      <button class=" badge badge-primary badge-pill ">+</button>
                     


                    </form>
                </td>
                <td>
                    <a href="{% url 'cart:cart_remove' produit.id %}"><i class="fa fa-trash"></i>

                    </a>
                </td>
                <td>
                    {{item.prix}}dt
                </td>
                <td>
                    {{item.total_prix}}dt
                </td>

            </tr>


            {% endwith %}

            {% endfor %}

            {% else %}
            <tr>
                <td colspan="4" style="width:100%;text-align:center;">Votre panier est vide !</td>
            </tr>

            {% endif %}
            <!--{# 				<tr class="total">
                    <td>
                        Total
                    </td>
                    <td colspan="4"></td>
                    <td class="num">${{cart.get_total_price}}</td>
                </tr> #}-->
            {% if cart.coupon %}
            <tr class="gray">
                <td>Subtotal</td>
                <td colspan="4"></td>
                <td class="num"> {{cart.get_total_price}}dt</td>
            </tr>
            <tr class="gray2">
                {% block trans %}
                {% with code=cart.coupon.code discount=cart.coupon.discount%}
                <td colspan="2">"{{code}}" coupon ({{discount}})% off</td>
                {% endwith %}
                {% endblock trans %}
                <td colspan="3"></td>
                <td class="num neg"> - {{cart.get_discount|floatformat:"2"}}DT</td>
            </tr>
            {% endif %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">{{cart.get_total_price_after_discount|floatformat:"2"}}DT</td>
            </tr>
            </tbody>
        </table>

        <div class="position">
            <form action="{% url 'coupons:apply' %}" method="post"  >
                {{coupon_apply_form.code}}

                {% csrf_token %}
                <input type="submit" value="apply" class="btn btn-secondary">
            </form>
            {% if cart %}
            {% for item in cart %}
            <p class="text-right  right">
                <a href="{% url 'shop:product_list' %}">POURSUIVRE VOS ACHATS</a>
                <a href="{% url 'orders:order_create' %}">FINALISER VOTRE COMMANDE </a>
            </p>
            {% endfor %}
            {% else %}
            <p class="text-right navbar right">
                <a href="{% url 'shop:product_list' %}">COMMANCEZ VOS ACHATS</a>
            </p>

            {% endif %}


                {% for prod in produits %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">

                        <a href="{{prod.get_absolute_url}}"><img class="card-img-top" src="{{ prod.image.url}}" alt=""></a>
                        <div class="card-body">
                            <h5>{{ prod.get_category_display }}</h5>
                            <h4 class="card-title">
                                <a href="#"><strong>{{prod.nom}}</strong></a>
                            </h4>
                            <h5><strong>{% if prod.discount_prix %}
                                {{ prod.discount_prix }}
                                {% else %}
                                {{ prod.prix }} €
                                {% endif %}</strong></h5>
                            <p class="card-text">{{ prod.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                {% endfor %}





    </div>
         </div>
    </div>
</main>

{% endblock content %}