django==3.1.13
django-autoslug-iplweb==1.9.5
pillow==7.1.1
django-bootstrap4==1.1.1
djangorestframework==3.11.0
django-paypal==1.0.0
django-import-export==2.1.0
mysqlclient==1.4.6
django-filter==2.3.0
