<style>
           .input-group-text {
			background:#33ccff  !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		</style>

<div class="col-lg-5 detail-separator">
  <form class="col-md-12 col-md-offset-3 " action="{% url 'boutique:search' %}" method="get" accept-charset="utf-8">
    <div class="displayed ">
      <label for="searchForm"></label>
      <input id="searchForm" class="form-control"  placeholder="Cherchez un produit" name="query" >
    </div>
  </form>
</div>
