{% extends "base.html" %}
{% block content %}

<br class="container">

<main class=" pt-4 ">
<center><h1><strong>Paiement </strong></h1></center>
<div class="container h-100">

    <center class="navbar"><h2 class="blue-text navbar"<strong><em>Payer avec Paypal</em></strong> </h2>
      {{form.render}}
      <p>
            <br>
Entrez les détails de votre carte tels que:
<br>
- Numéro de carte
            <br>
- Date d'expiration
      </br>
- Code de sécurité
            <br>
Ensuite, complétez votre commande. Pour sécuriser votre paiement, certaines banques vous demanderont un code de sécurité, envoyé à votre téléphone.


      </p>

</center>
</main>
<br>
</div>
{% endblock content %}











































